NOTION_API_KEY=
NOTION_DATABASE_ID=
NOTION_DB_AI_ID=
NOTION_PAGE_ABOUT_ID=
NOTION_PAGE_SUBSCRIBE_ID=

STATIC_DATA_ENABLED=true

ALIYUN_OSS_BUCKET=thinkppt
ALIYUN_OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
ALIYUN_OSS_PREFIX=
ALIYUN_OSSUTIL_BIN=ossutil
